<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/CSS/kaifa.css">
    <link rel="icon" href="../static/IMG/logo/logo-alpha2.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes">
    <meta charset="UTF-8">
    <title>Fei_Bam</title>
</head>
<body>
    <div id="Nav">
        <div style="padding: 6px;display: flex">
            <div id="Left-Logo">
                <div><img width="40px" height="40px" src="../static/IMG/logo/logo-alpha2.png"></div>
                <div><a style="text-decoration:none;font-size: 30px;color: black" href="login.html" target="_self">登录</a></div>
            </div>
            <div id="Right-Link">
                <div class="Link-flex">
                    <a class="link" href="Index.html"><img class="img" src="../static/img/logo/HomePage.png">主页</a>
                </div>
                <div class="Link-flex">
                    <a class="link" href="regiest.html"><img class="img" src="../static/img/logo/Commutent.png">注册</a>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div style="text-align: center" id="txt-post">
            <div id="PostingForm">
                <form method="post" action="login_api">
                    {% csrf_token %}
                    <input type="text" placeholder="用户名" class="SetInpt" name="UserName">
                    <input type="password" placeholder="密码" class="SetInpt" name="password">
                    <input type="submit" id="buttom" value="登录" >
                </form>
            </div>
        </div>
    </div>
    <div id="Bottom">
        <div id="BottomLink" style="text-align: center">
            <a class="text" ></a>
            <a class="text" style="color: white">|</a>
            <a  hidden="hidden" style="text-decoration:none " class="text"></a>
            <br><a class="text" href="http://www.beian.miit.gov.cn" hidden="hidden" style="margin: 0;padding: 0;text-decoration: none;color: white">ICP备案:</a>
        </div>
        <div id="BottomColor" ></div>
    </div>
</body>
</html>